@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

@font-face {
  font-family: "academy-engraved"; /* Choose a suitable font name */
  src: url("../font/Academy\ Engraved\ LET\ Plain.woff") format("woff"); /* Use the path to your .woff2 font file */
  font-weight: normal;
  font-style: normal;
}

:root {
  --west-red: #4e1313;
}

.hero-section {
  background-image: url("/img/topbanner4.jpg");
  background-size: cover;
  background-position: center;
  height: 30vh;
  min-height: 130px;
  max-height: 210px;
}

h1 {
  /* font-family: academy-engraved, "Times New Roman", Times, serif; */
}

.tan-bg {
  background-color: tan;
}

.ibarra-font {
  /* font-family: academy-engraved, "Times New Roman", Times, serif; */
  /* vertical-align: middle; */
  /* line-height: 1.5; */
  font-family: "Ibarra Real Nova", serif;
  /* border: 1px solid blue; */
  padding-bottom: 0;
}

#newWestLogo {
  max-height: 40px;
}

#cowLogo {
  /* max-height: 50px; */
  width: 100%;
}

.navbar-nav li {
  border-bottom: 1px solid var(--west-red);
  margin-left: 1em;
}

/* .navbar-expand-md .navbar-nav .nav-link {
  padding-right: initial;
} */

.parchment {
  background: url("/img/parchmentbg3.gif");
}

.title-section {
  background-image: initial;
  background-size: cover;
  background-position: center;
  height: 30vh;
  min-height: 130px;
  max-height: 210px;
  color: beige;
}

/* DEBUG BORDERS */

.redalert {
  border: 2px solid greenyellow;
}

.redalert2 {
  border: 2px solid hotpink;
}

@media (min-width: 768px) {
  /* Your CSS rules for screens >= 768px go here */
  .max-width-230 {
    max-width: 230px;
  }

  #newWestLogo {
    max-height: none;
    width: 100%;
  }

  .title-section {
    /* background: url("/img/parchmentbg3.gif"); */
    background-size: initial;
    background-position: initial;
    height: initial;
    min-height: initial;
    max-height: initial;
    color: beige;
  }
}
